<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand fw-bold">🎓 Sistema Académico</a>

  <div class="ms-auto d-flex gap-2">
    <!-- Mostrar Login y Registro solo cuando NO hay sesión -->
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/" class="btn btn-outline-light"> Login </a>

      <a routerLink="/register" class="btn btn-success"> Registrarse </a>
    </ng-container>

    <!-- Mostrar solo cuando hay sesión -->
    <button *ngIf="isLoggedIn" class="btn btn-danger rounded-pill px-4" (click)="logout()">
      Cerrar Sesión
    </button>
  </div>
</nav>
